<div class="nav_">
    <a href="/"><h3 id="texto">ToBailongo.com</h3></a>
</div>
<div *ngIf="showalert" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Alerta: </strong> Las contraseñas no coinciden...
  <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container" *ngIf="admin">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-top: 10%;">
        <div class="card-login my-5">
            <h4 style="text-align: center;">Cambiar Contraseña</h4>
            <div class="card-body">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="last_name" type="password" [(ngModel)]="contrasena" class="validate">
                            <label for="last_name">Nueva contraseña:</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="last_name" [(ngModel)]="contrasena2" type="password" class="validate">
                            <label for="last_name">Confirmar contraseña:</label>
                        </div>
                    </div>
                    <div class="center">
                        <input type="submit" class="btn btn-success" value="Restablecer" (click)="restart()">
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>