<app-navbar></app-navbar>

<div class="container" *ngIf="admin">
    <br>
    <h3>Restaurar Contraseña.</h3>

    <div class="row">
        <div class="input-field col s6">
            <input [(ngModel)]="correo" type="email">
            <label>Ingrese su direccion de corre:</label>
            <div class="d-flex flex-row-reverse bd-highlight">
                <button class="btn btn-sm btn-success p-2 bd-highlight" (click)="reset_password()">Enviar</button>
            </div>
        </div>
    </div>

    <notifier-container></notifier-container>
    
</div>