@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

#texto{
    font-family: 'Mansalva', cursive; 
    font-size: 35px; 
    color: white;
}

.nav_{
    height: 2.3em; 
    width: 100%; 
    background-color:#63A636; 
}

a{
    text-decoration: none;
}